<div class="container">
  <h2 class="page-title">Admin Dashboard</h2>

  <div class="row">
    <div class="col-md-4">
      <h3>
        <%= link_to "Manage Races", admin_races_path %>
      </h3>
    </div>

    <div class="col-md-4">
      <h3>
        <%= link_to "Manage News", admin_news_index_path %>
      </h3>
    </div>

    <div class="col-md-4">
      <h3>Manage Gallery</h3>
    </div>

  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>
        <%= link_to "Manage Race Registrations", admin_race_registrations_path %>
      </h3>
    </div>

    <div class="col-md-4">
      <h3>Manage Boat Classes</h3>
    </div>

    <div class="col-md-4">
      <h3>Manage User Accounts</h3>
    </div>

  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>
        <%= link_to "Manage USTS Membership Registrations", admin_usts_registrations_path %>
      </h3>
    </div>

    <div class="col-md-4">
      <h3>Manage Sponsors</h3>
    </div>

    <div class="col-md-4">
      <h3></h3>
    </div>

  </div>

</div>
