<div class="container">
  <h2 class="page-title">Admin Dashboard</h2>

  <div class="row">
    <div class="col-md-4">
      <h3>Manage Races</h3>
    </div>

    <div class="col-md-4">
      <h3>Manage News</h3>
    </div>

    <div class="col-md-4">
      <h3>Manage Gallery</h3>
    </div>

  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Manage Race Registrations</h3>
    </div>

    <div class="col-md-4">
      <h3>Manage USTS Membership Registrations</h3>
    </div>

    <div class="col-md-4">
      <h3>Manage User Accounts</h3>
    </div>

  </div>

</div>
