<div class='container'>

  <h2 class='page-title'>Register for a Race</h2>

  <h4>NOTE: As stated on the sanction, in order to not be subject to the late fee, you must register AND pay prior to the Sunday cutoff.</h4>

  <%= render partial: 'form' %>

</div>
