<table class="race-id-table">
  <thead>
    <th>Race</th>
    <th>Id</th>
  </thead>
  <tbody>
    <% @races.each do |race| %>
      <% if race.race_this_year? %>
      <tr>
        <td>
          <%= race.city %>
        </td>
        <td>
          <%= race.id %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
