<div class="container">
  <h2>Edit Race Result</h2>

  <p class="lead-text">
  Note: If an entry for a driver already exists for the same class and location, the race result changes you have made will not save.
  </p>

  <%= render partial: 'form' %>

</div>
