<div class="container">

  <h2 class="page-title">Race Schedule</h2>
  <div class="row">
    <% @races.each do |race| %>
      <div class="col-md-4">
        <div class="race-tile">
          <%= render partial: "shared/race_tile", locals: {race: race} %>
        </div>
      </div>
    <% end %>
  </div>


</div>
