<div class="">
  <div class="jumbotron">
    <% if (!@gallery.nil? && !@gallery.photos.blank?) %>
      <%= render partial: 'carousel' %>
    <% end %>
  </div>

  <div class="recent-news-band">
    <div class="container">
      <h3>Recent News</h3>
      <div class="row">
        <% @recent_news.each do |news| %>
          <div class="col-md-4">
            <div class="news-tile-home">
              <%= render partial: "shared/news_tile", locals: {news: news} %>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to "Read more...", news_index_path, class: 'small-link float-right' %>
    </div>
  </div>

  <div class="video-band">
    <div class="container">
      <!-- <h3 class="page-subtitle"></h3> -->
        <div class="promo-video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/3I1WQ0VyXQE" frameborder="0" gesture="media" allowfullscreen></iframe>
        </div>
    </div>
  </div>

  <div class="sponsors-band">
    <div class="container">
      <h3 class="page-subtitle">Sponsors</h3>
        <div class="sponsor-logos">
          <% @sponsors.each do |sponsor| %>
            <%= render partial: "shared/sponsors", locals: {sponsor: sponsor} %>
          <% end %>
        </div>
    </div>
  </div>

</div>
