<div class="">
  <h2>US Title Series Home Page</h2>

  <div class="recent-news-band">
    <div class="container">
      <h3>Recent News</h3>
      <div class="row">
        <% @recent_news.each do |news| %>
          <div class="col-md-4">
            <div class="news-tile-home">
              <%= render partial: "shared/news_tile", locals: {news: news} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
