<div class="">
  <div class="jumbotron">
    <!-- <h2>US Title Series Home Page</h2> -->

  </div>

  <div class="recent-news-band">
    <div class="container">
      <h3>Recent News</h3>
      <div class="row">
        <% @recent_news.each do |news| %>
          <div class="col-md-4">
            <div class="news-tile-home">
              <%= render partial: "shared/news_tile", locals: {news: news} %>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to "Read more...", news_index_path, class: 'small-link float-right' %>
    </div>
  </div>

  <div class="sponsors-band">
    <div class="container">
      <h3 class="page-subtitle">Sponsors</h3>
    </div>
  </div>

</div>
