<div class="container">
  <h2 class="page-title">News</h2>
  <div class="row">
    <% @all_news.each do |news| %>
      <div class="col-md-4">
        <div class="news-tile">
          <%= render partial: "shared/news_tile", locals: {news: news} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
