<div class="container">
  <h2>Competition and Boat Classes</h2>

  <h4>Our History</h4>

  <p>
    The US Title Series, founded in 1982, is recognized as the premier PRO outboard racing series in the United States. The United States Title Series’ guiding vision is to establish a class of outboard racing competitions between the best Professional Outboard Racing teams that boat racing has to offer; promote the sport of powerboat racing by using any and all means available; and develop a series of outboard racing competitions across the country, putting the sport on a national level as any other professional sport.
  </p>


  <h4>The Competition</h4>

  <p>PRO Outboard racing is the oldest style of boat racing in the country. Founded on innovation and competition, the USTS teams and drivers are dedicated to always improving and using new technology to advance our style of racing. PRO Outboard racing is one of the only racing series in existence that pushes the limits of technology with minimal restrictions on engine and hull design. This truly open atmosphere drives American and European engine and boat manufacturers to explore the boundaries of design and engineering.</p>

  <p>From our youth, starting at age 11 with the K-PRO Hydro boats, to our veteran drivers, boat racing has become a traveling family of friends and competitors. Each year the US Title Series hosts race events at some of the most beautiful areas of the country with drivers traveling from as far away as California, New York and Florida to race against the best drivers, and fastest PRO boats in the country. Our classes range from 125cc up to 1100cc engines, with speeds reaching 120 miles per hour. There is no thrill more exciting than seeing several 100 mph boats racing to the first turn!</p>

  <h4>The Program</h4>

  <p>The Title Series is a great addition to city events and celebrations, as well as a stand alone event. Our USTS National Championships draws over 50,000 spectators each year. A US Title Series event consists of a 2-3 day program generally with testing and practice laps on Friday and PRO racing on Saturday and Sunday. The racing program averages a 3-4 hour time frame each day. The US Title Series staff and participants are committed to providing a professionally organized, exciting, and entertaining racing event for your area. Along with the long running series and national events, the USTS has conducted several World Championship events held in the United States, a testament to the quality of our program.</p>

  <h3>Boat Classes</h3>
  <p>
    There are eleven classes in the U.S. Title Series based on the type of boat and the size of the engines. Engines are specifically designed for racing, burn methanol fuel, and are manufactured all over the world. A separate race is run for each class consisting of three heats per class and four laps per heat. There are three distinctive types of boats in the U.S. Title Series: Runabouts, Hydroplanes and Capsules.
  </p>

  <h4>Runabouts</h4>
  <p>
    Runabouts are hulls that have a flat bottom. They turn well, ride rough, and as any experienced Runabout rider will tell you, require the most skill to drive. U.S. Title Series has 4 Runabout classes dependent on engine size: 125cc, 250cc, 350cc, and 500cc. Runabouts don’t have seats– the driver kneels and has to lean hard into the turns while bouncing on the water at speeds up to 100 mph. With one hand on the throttle and the other on the steering wheel, these sharp turning boats require quick reflexes and a love for adrenaline.
  </p>

  <h4>Hydroplanes</h4>
  <p>
    Hydroplanes are the fastest boats on the water. They are designed to ride on a tunnel of air over the water, these boats can reach and exceed speeds up to 120 mph. The Hydros run at 125cc, 250cc, and 350cc and are one of the most popular classes in the world. The 350cc Hydroplanes balance the abilities of high speeds with good handling, which results in very exciting racing.
  </p>

  <h4>Capsules</h4>
  <p>
    The 500cc Hydros require a capsule and a 5-point harness seating system similar to NASCAR for safety conditions. These drivers carry oxygen and many use radios in their helmets to receive direction from their crew-chief. The Capsules run at 500cc, 700cc and 1100cc and are by far the fastest classes of racing in the USTS and possibly the world.
  </p>

  <h4>Engine Design</h4>
  <p>
    The PRO racing category runs highly tuned 2-stroke racing engines that turn at extremely high RPMs, which in competition range from 10,000 to 13,000, and burn methanol alcohol fuel. This is a combination that can produce exceptional horsepower. Compare this to your typical racing stock car that turns about 7,000 to 8,000 RPM. Mechanics and engines designers have very few restrictions beyond displacement, which makes this style of racing very popular and exciting.
  </p>

</div>
