<div class="container">
  <div class="basic-page">
    <h2>Resources</h2>

    <p class="lead-text">Many of our supporters, vendors and supplies are listed here. Consider them as the first source for products and services when you are in search of services and products that focus on Powerboat Racing.</p>

    <h4>Motor Parts and Repairs</h4>
    <div class="row">
      <div class="col-md-3">
        <address>
          <strong>Mike Thirlby</strong><br>
          Konny Motor Distributor<br>
          2625 North US Highway 31 South<br>
          Traverse City, MI 49684<br>
          <abbr title="Email">E:</abbr>
            <a class="small-link" href="mailto:mthirlby@thirlbyautomotive.com" target="_top">mthirlby@thirlbyautomotive.com</a><br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:2315907855"> 231-590-7855</a><br>
          <abbr title="Fax">F:</abbr> 231-943-0123<br>
        </address>
      </div>
      <div class="col-md-3">
        <address>
          <strong>Ric Montoya</strong><br>
          RPM Marine<br>
          2541 7th Avenue West<br>
          Seattle, WA 98119<br>
          <abbr title="Email">E:</abbr>
            <a class="small-link" href="mailto:yamato@boatracers.com" target="_top">yamato@boatracers.com</a><br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:8009262801"> 1-800-YAMATO1</a><br>
          <abbr title="Fax">F:</abbr> 206-283-4773
      </address>
      </div>
      <div class="col-md-3">
        <address>
          <strong>Rex Hall</strong><br>
          5495 W. Gale Road<br>
          Smithville, MO 64089-8453<br>
          <abbr title="Email">E:</abbr>
            <a class="small-link" href="mailto:RexfordHall@aol.com" target="_top">RexfordHall@aol.com</a><br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:8165324588"> 816-532-4588</a><br>
      </address>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <address>
          <strong>Mike Schmidt</strong><br>
          28 Cherry Ln<br>
          Durham, Connecticut 06422<br>
          <abbr title="Email">E:</abbr>
            <a class="small-link" href="mailto:teammsr@comcast.net" target="_top">TEAMMSR@comcast.net</a><br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:8603499310"> 860-349-9310</a><br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:8644630213"> 864-463-0213</a><br>
      </address>
      </div>
      <div class="col-md-3">
        <address>
          <strong>Derek Gesler</strong><br>
          GMW LLC<br>
          2155 230 St W<br>
          Jordan, MN 55352<br>
          <abbr title="Email">E:</abbr>
            <a class="small-link" href="mailto:geslerboats@yahoo.com" target="_top">geslerboats@yahoo.com</a><br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:6123690012"> 612-369-0012</a><br>
      </address>
      </div>
    </div>

    <h4>Race Boats</h4>

    <div class="row">
      <div class="col-md-3">
        <address>
          <strong>Mike Krier</strong><br>
          28800 280th Street<br>
          Ollie, IA 52576<br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:6416221009"> 641-622-1009</a>
        </address>
      </div>
      <div class="col-md-3">
        <address>
          <strong>Darrell Sorensen</strong><br>
          Sorensen Woodcraft<br>
          13307 Avenue 22 ½<br>
          Chowchilla, CA 93610<br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:8008911808"> 800-891-1808</a><br>
          <abbr title="Fax">F:</abbr> 209-665-2690
        </address>
      </div>
      <div class="col-md-3">
        <address>
          <strong>Gary Pugh</strong><br>
          Pugh Boat Works<br>
          3717 Schaad Road<br>
          Knoxville, TN 37921<br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:8656938840"> 865-693-8840</a>
        </address>
      </div>
      <div class="col-md-3">

      </div>
    </div>

    <h4>Propellers</h4>

    <div class="row">
      <div class="col-md-3">
        <address>
          <strong>Craig Dewald</strong><br>
          Dewald Racing Propellers<br>
          1050 Rick Rd<br>
          Reading, PA 19605<br>
          <abbr title="Email">E:</abbr>
            <a class="small-link" href="mailto:dewaldprop@aol.com" target="_top">dewaldprop@aol.com</a><br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:6109262964"> 610-926-2964</a><br>
          <abbr title="Fax">F:</abbr> 610-916-1250
        </address>
      </div>
      <div class="col-md-3">
        <address>
          <strong>Floyd Hopkins</strong><br>
          Hopkins Propeller Service<br>
          70415 Charlie Street<br>
          Covington. Louisiana 70433<br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:5048923868"> 504-892-3868</a>
        </address>
      </div>
      <div class="col-md-3">

      </div>
    </div>

    <h4>Fuel and Lubricant</h4>
    <div class="row">
      <div class="col-md-3">
        <address>
          <strong>Rick Fales</strong><br>
          Power Mist Racing Fuels<br>
          67 Stickles Pond Road<br>
          Newton, NJ 07860<br>
          <a class="small-link" target="_blank" href="http://www.racingfuelsupplies.com">racingfuelsupplies.com</a><br>
          <abbr title="Email">E:</abbr>
            <a class="small-link" href="mailto:sales@racingfuelsupples.com" target="_top">sales@racingfuelsupples.com</a><br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:2013631061"> 201-363-1061</a>
        </address>
      </div>
      <div class="col-md-3">
        <address>
          <strong>Blendzall</strong><br>
          310 South First Street<br>
          Martins Ferry, OH 43935<br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:614-633-1333"> 614-633-1333</a>
        </address>
      </div>
      <div class="col-md-3">
        <address>
          <strong>Klotz Special Formula Products, Inc.</strong><br>
          7424 Freedom Way<br>
          Fort Wayne, IN 46818<br>
          <abbr title="Email">E:</abbr>
            <a class="small-link" href="mailto:customerservice@klotzlube.com" target="_top">customerservice@klotzlube.com</a><br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:800-242-0489"> 800-242-0489</a>
        </address>
      </div>
      <div class="col-md-3">

      </div>

    </div>

    <h4>Hardware</h4>

    <div class="row">
      <div class="col-md-3">
        <address>
          <strong>Tom Cronk</strong><br>
          3528 Lori Lane N.<br>
          Lakeland, FL 33801<br>
          <abbr title="Email">E:</abbr>
            <a class="small-link" href="mailto:Tcronk@tampbay.rr.com" target="_top">Tcronk@tampbay.rr.com</a><br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:863-665-5449"> 863-665-5449</a>
        </address>
      </div>
      <div class="col-md-3">
        <address>
          <strong>Alan Brown</strong><br>
          <a class="small-link" target="_blank" href="http://www.btmco.com/boat.html">btmco.com/boat.html</a><br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:609-397-1751"> 609-397-1751</a>
        </address>
      </div>
      <div class="col-md-3">

      </div>

    </div>

    <h4>Safety Equipment</h4>

    <div class="row">
      <div class="col-md-3">
        <address>
          <strong>Security Race Products</strong><br>
          95 South Tobin<br>
          Renton, WA 98055<br>
          <a class="small-link" target="_blank" href="http://www.securityrace.com">securityrace.com</a><br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:425-557-6508"> 425-557-6508</a><br>
          <abbr title="Fax">F:</abbr> 425-557-2187
        </address>
      </div>
      <div class="col-md-3">
        <address>
          <strong>Simpson</strong><br>
          2415 Amster Street<br>
          Torrance, CA 90505<br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:800-717-2246"> 800-717-2246</a>
        </address>
      </div>
      <div class="col-md-3">
        <address>
          <strong>Lifeline</strong><br>
          1601 Kofa Avenue<br>
          Parker, AZ 85344<br>
          <a class="small-link" target="_blank" href="http://www.lifelineracegear.com">www.lifelineracegear.com</a><br>
          <abbr title="Email">E:</abbr>
            <a class="small-link" href="mailto:info@lifelineracegear.com" target="_top">info@lifelineracegear.com</a><br>
          <abbr title="Phone">P:</abbr>
            <a class="small-link" href="tel:928-669-9241"> 928-669-9241</a><br>
          <abbr title="Fax">F:</abbr> 928-669-8895
        </address>
      </div>
    </div>

  </div>
</div>
