<div class="container">
  <h2>Resources</h2>

  <p>Many of our supporters, vendors and supplies are listed here. Consider them as the first source for products and services when you are in search of services and products that focus on Powerboat Racing.</p>

  <h4>Motor Parts and Repairs</h4>

  <p>Ed Thirlby
  145 Roman Drive
  Traverse City, MI 49684
  Phone: 231-943-4524
  Fax: 231-943-0123
  Email: ethirlby@aol.com</p>

  <p>Steve Litzell
  Outboard Marine Service
  1155 Wedgefield Drive
  Marietta, GA 30064
  Phone: 770-428-0568
  Email: STEVE77T@aol.com</p>

  <p>Ric Montoya
  RPM Marine
  2541 7th Avenue West
  Seattle, WA 98119
  Phone: 1-800-YAMATO1
  Fax: 206-283-4773
  Email: yamato@boatracers.com</p>

  <p>Rex Hall
  5495 W. Gale Road
  Smithville, MO 64089-8453
  Phone: 816-532-4588
  Email: RexfordHall@aol.com</p>

  <p>Mike Schmidt
  P.O. Box 414
  Durham, Connecticut 06422
  (860)349-9310
  E-Mail: SCHMIDTD20@AOL.COM</p>

  <h4>Race Boats</h4>

  <p>Mike Krier
  28800 280th Street
  Ollie, IA 52576
  Phone: 641-622-1009</p>

  <p>Darrell Sorensen
  Sorensen Woodcraft
  13307 Avenue 22 ½
  Chowchilla, CA 93610
  Phone: 1-800-891-1808
  Fax: 209-665-2690</p>

  <p>Gary Pugh
  Pugh Boat Works
  3717 Schaad Road
  Knoxville, TN 37921
  Phone: 865-693-8840</p>

  <p>Bill Giles
  26 School St.
  N. Dighton, MA 02764
  Phone: 508-823-5653
  Email: giles3b@comcast.net</p>

  <h4>Propellers</h4>

  <p>Craig Dewald
  Dewald Racing Propellers
  RR #9, Box 9204
  Reading, PA 19605
  Phone: 610-926-2964
  Fax: 610-916-1250
  Email: dewaldprop@aol.com</p>

  <p>Hopkins Propeller Service
  Floyd Hopkins
  70415 Charlie Street
  Covington. Louisiana 70433
  (504) 892-3868</p>

  <p>Props by Pinner
  Harry Pinner
  17030 131 St Terrace North
  Jupiter, Fl 33478
  (561) 743-9238</p>

  <h4>Fuel and Lubricant</h4>

  <p>Rick Fales
  Power Mist Racing Fuels
  67 Stickles Pond Road
  Newton, NJ 07860
  Phone: 201-363-1061
  Email: sales@racingfuelsupples.com
  Web: racingfuelsupplies.com</p>

  <p>Blendzall
  310 South First Street
  Martins Ferry, OH 43935
  Phone: 614-633-1333</p>

  <p>Klotz Special Formula Products, Inc.
  7424 Freedom Way
  Fort Wayne, IN 46818
  Phone: 800-242-0489
  Email: customerservice@klotzlube.com</p>

  <h4>Hardware</h4>

  <p>Rick Whiteacre
  Fast Forward Marine
  2650 Kingfisher
  Camino, CA 95709
  Phone: 530-644-2650</p>

  <p>Tom Cronk
  3528 Lori Lane N.
  Lakeland, FL 33801
  Phone: (863) 665-5449
  Email: Tcronk@tampbay.rr.com</p>

  <p>Alan Brown
  Phone: 609-397-1751
  Web: btmco.com/boat.html</p>

  <h4>Safety Equipment</h4>

  <p>Full Throttle Racing Accessories
  48 Cedar Dr.
  Danbury, CT 06811
  Phone: 203-791-0605
  Fax: 203-730-2122
  Email: ericdengler@att.net</p>

  <p>Security Race Products
  95 South Tobin
  Renton, WA 98055
  Phone: 425-557-6508
  Fax: 425-557-2187
  Desc: securityrace.com</p>

  <p>Simpson
  2415 Amster Street
  Torrance, CA 90505
  Phone: 800-717-2246</p>

  <p>Lifeline
  1601 Kofa Avenue
  Parker, AZ 85344
  Phone: 928-669-9241
  Fax: 928-669-8895
  Email: info@lifelineracegear.com
  Web: www.lifelineracegear.com</p>

</div>
