<div class="container">
  <div class="basic-page">
    <h2 class="page-title">2017 Race Results</h2>

    <h4>KPRO Hydro</h4>
      <table class="results-table">
      <tbody>
        <tr>
          <td>Driver</td>
          <td>Lake Alfred</td>
          <td>Pleasant Prairie</td>
          <td>Springfield</td>
          <td>Constantine</td>
          <td>Nationals</td>
          <td>TBD</td>
          <td>Total</td>
        </tr>
        <tr>
          <td>MAKENZIE HELLSTEN</td>
          <td>400</td>
          <td>400</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>800</td>
        </tr>
        <tr>
          <td>BRADY BRINKMAN</td>
          <td>300</td>
          <td>300</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>600</td>
        </tr>
        <tr>
          <td>ETHAN FOX</td>
          <td>225</td>
          <td>169</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>394</td>
        </tr>
        <tr>
          <td>COOPER THOMPSON</td>
          <td>127</td>
          <td>225</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>352</td>
        </tr>
        <tr>
          <td>SERENA DURR</td>
          <td>169</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>169</td>
        </tr>
        <tr>
          <td>EMILY HUTCHINSON</td>
          <td>95</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>95</td>
        </tr>
      </tbody>
    </table>

    <h4>125cc Hydro</h4>
      <table class="results-table">
      <tbody>
        <tr>
          <td>Driver</td>
          <td>Lake Alfred</td>
          <td>Pleasant Prairie</td>
          <td>Springfield</td>
          <td>Constantine</td>
          <td>Nationals</td>
          <td>TBD</td>
          <td>Total</td>
        </tr>
        <tr>
          <td>DAVID JONES</td>
          <td>400</td>
          <td>127</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>527</td>
        </tr>
        <tr>
          <td>RAYMOND HAMMOND</td>
          <td>300</td>
          <td>225</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>525</td>
        </tr>
        <tr>
          <td>DAVID TENNEY</td>
          <td>0</td>
          <td>400</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>400</td>
        </tr>
        <tr>
          <td>BRADLEY DYGERT</td>
          <td>169</td>
          <td>169</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>338</td>
        </tr>
        <tr>
          <td>BILL HEMP</td>
          <td>-</td>
          <td>300</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>300</td>
        </tr>
        <tr>
          <td>DOMINIC DIFEBO</td>
          <td>225</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>225</td>
        </tr>
        <tr>
          <td>BRANDON MILLS</td>
          <td>127</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>127</td>
        </tr>
        <tr>
          <td>EMILY HUTCHINSON</td>
          <td>95</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>95</td>
        </tr>
        <tr>
          <td>BRAXTON MILLER</td>
          <td>-</td>
          <td>95</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>95</td>
        </tr>
        <tr>
          <td>BOB CRONIN</td>
          <td>71</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>71</td>
        </tr>
      </tbody>
      </table>

    <h4>125cc Runabout</h4>
      <table class="results-table">
      <tbody>
        <tr>
          <td>Driver</td>
          <td>Lake Alfred</td>
          <td>Pleasant Prairie</td>
          <td>Springfield</td>
          <td>Constantine</td>
          <td>Nationals</td>
          <td>TBD</td>
          <td>Total</td>
        </tr>
        <tr>
          <td>TIM SMALL</td>
          <td>400</td>
          <td>225</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>625</td>
        </tr>
        <tr>
          <td>BRADLEY DYGERT</td>
          <td>225</td>
          <td>400</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>625</td>
        </tr>
        <tr>
          <td>BRIANNA PAYN</td>
          <td>169</td>
          <td>300</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>469</td>
        </tr>
        <tr>
          <td>PAUL BOSNICH III</td>
          <td>300</td>
          <td>127</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>427</td>
        </tr>
        <tr>
          <td>LYNDSAY MCGRATH</td>
          <td>0</td>
          <td>169</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>169</td>
        </tr>
        <tr>
          <td>PARKER THIRLBY</td>
          <td>127</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>127</td>
        </tr>
        <tr>
          <td>JACKSON HALL</td>
          <td>-</td>
          <td>95</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>95</td>
        </tr>
      </tbody>
    </table>

    <h4>175cc Hydro</h4>
    <table class="results-table">
      <tbody>
        <tr>
          <td>Driver</td>
          <td>Lake Alfred</td>
          <td>Pleasant Prairie</td>
          <td>Springfield</td>
          <td>Constantine</td>
          <td>Nationals</td>
          <td>TBD</td>
          <td>Total</td>
        </tr>
        <tr>
          <td>RAYMOND HAMMOND</td>
          <td>400</td>
          <td>300</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>700</td>
        </tr>
        <tr>
          <td>DAVID TENNEY</td>
          <td>0</td>
          <td>400</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>400</td>
        </tr>
        <tr>
          <td>NICK HOOTEN</td>
          <td>300</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>300</td>
        </tr>
        <tr>
          <td>BOB CRONIN</td>
          <td>225</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>225</td>
        </tr>
        <tr>
          <td>BILL HEMP</td>
          <td>-</td>
          <td>225</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>225</td>
        </tr>
        <tr>
          <td>BRANDON MILLS</td>
          <td>169</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>169</td>
        </tr>
        <tr>
          <td>BAYLEE BURKLUND</td>
          <td>-</td>
          <td>169</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>169</td>
        </tr>
        <tr>
          <td>SHANNON MCGRATH</td>
          <td>0</td>
          <td>127</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>127</td>
        </tr>
        <tr>
          <td>BRADLEY DYGERT</td>
          <td>0</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0</td>
        </tr>
      </tbody>
    </table>

    <h4>250cc Hydro</h4>
    <table class="results-table">
      <tbody>
        <tr>
          <td>Driver</td>
          <td>Lake Alfred</td>
          <td>Pleasant Prairie</td>
          <td>Springfield</td>
          <td>Constantine</td>
          <td>Nationals</td>
          <td>TBD</td>
        </tr>
        <tr>
          <td>AMY NYDAHL</td>
          <td>400</td>
          <td>300</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>ERIC SCHMIDT</td>
          <td>300</td>
          <td>400</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>JP JEDWABNY</td>
          <td>169</td>
          <td>169</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>CHRIS HELLSTEN</td>
          <td>225</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>KURTIS NYDAHL</td>
          <td>0</td>
          <td>225</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>PETER KELLY</td>
          <td>127</td>
          <td>71</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>MARC LAROSE</td>
          <td>95</td>
          <td>95</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>KEVIN ELLISON</td>
          <td>-</td>
          <td>127</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>JAKE QUESSE</td>
          <td>71</td>
          <td>53</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>VINCENT BUSKIRK</td>
          <td>-</td>
          <td>40</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>NICHOLAS SHAKESHAFT</td>
          <td>0</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <h4>250cc Runabout</h4>
    <table class="results-table">
      <tbody>
        <tr>
          <td>Driver</td>
          <td>Lake Alfred</td>
          <td>Pleasant Prairie</td>
          <td>Springfield</td>
          <td>Constantine</td>
          <td>Nationals</td>
          <td>TBD</td>
          <td>Total</td>
        </tr>
        <tr>
          <td>TIM SMALL</td>
          <td>400</td>
          <td>400</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>800</td>
        </tr>
        <tr>
          <td>JAY WALLS, JR</td>
          <td>300</td>
          <td>127</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>427</td>
        </tr>
        <tr>
          <td>JASON SAILER</td>
          <td>225</td>
          <td>169</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>394</td>
        </tr>
        <tr>
          <td>RICHARD KRIER</td>
          <td>169</td>
          <td>225</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>394</td>
        </tr>
        <tr>
          <td>PAUL BOSNICH III</td>
          <td>0</td>
          <td>300</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>300</td>
        </tr>
        <tr>
          <td>DEREK GESLER</td>
          <td>127</td>
          <td>95</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>222</td>
        </tr>
      </tbody>
    </table>

    <h4>350cc Hydro</h4>
    <table class="results-table">
      <tbody>
        <tr>
          <td>Driver</td>
          <td>Lake Alfred</td>
          <td>Pleasant Prairie</td>
          <td>Springfield</td>
          <td>Constantine</td>
          <td>Nationals</td>
          <td>TBD</td>
          <td>Total</td>
        </tr>
        <tr>
          <td>AMY NYDAHL</td>
          <td>300</td>
          <td>400</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>700</td>
        </tr>
        <tr>
          <td>NEIL LAROSE</td>
          <td>400</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>400</td>
        </tr>
        <tr>
          <td>DAVID SALDECKI</td>
          <td>-</td>
          <td>300</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>300</td>
        </tr>
        <tr>
          <td>KURTIS NYDAHL</td>
          <td>225</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>225</td>
        </tr>
        <tr>
          <td>JP JEDWABNY</td>
          <td>169</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>169</td>
        </tr>
        <tr>
          <td>JAKE QUESSE</td>
          <td>127</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>127</td>
        </tr>
      </tbody>
    </table>

    <h4>350cc Runabout</h4>
    <table class="results-table">
      <tbody>
        <tr>
          <td>Driver</td>
          <td>Lake Alfred</td>
          <td>Pleasant Prairie</td>
          <td>Springfield</td>
          <td>Constantine</td>
          <td>Nationals</td>
          <td>TBD</td>
          <td>Total</td>
        </tr>
        <tr>
          <td>JAY WALLS, JR</td>
          <td>400</td>
          <td>225</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>625</td>
        </tr>
        <tr>
          <td>BRIAN PAYN</td>
          <td>169</td>
          <td>400</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>569</td>
        </tr>
        <tr>
          <td>RICHARD KRIER</td>
          <td>225</td>
          <td>300</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>525</td>
        </tr>
        <tr>
          <td>PAUL BOSNICH III</td>
          <td>300</td>
          <td>127</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>427</td>
        </tr>
        <tr>
          <td>DAVID ANDERSON</td>
          <td>-</td>
          <td>169</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>169</td>
        </tr>
      </tbody>
    </table>

    <h4>500cc Hydro</h4>
    <table class="results-table">
      <tbody>
        <tr>
          <td>Driver</td>
          <td>Lake Alfred</td>
          <td>Pleasant Prairie</td>
          <td>Springfield</td>
          <td>Constantine</td>
          <td>Nationals</td>
          <td>TBD</td>
          <td>Total</td>
        </tr>
        <tr>
          <td>DAN KIRTS</td>
          <td>300</td>
          <td>400</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>700</td>
        </tr>
        <tr>
          <td>JAKE HOFFERT</td>
          <td>127</td>
          <td>300</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>427</td>
        </tr>
        <tr>
          <td>TIM BORWAY</td>
          <td>400</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>400</td>
        </tr>
        <tr>
          <td>DAVID HOOTEN</td>
          <td>225</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>225</td>
        </tr>
        <tr>
          <td>DOUG HALL</td>
          <td>-</td>
          <td>225</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>225</td>
        </tr>
        <tr>
          <td>NICHOLAS SHAKESHAFT</td>
          <td>169</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>169</td>
        </tr>
        <tr>
          <td>KENNETH NICHOLSON</td>
          <td>0</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0</td>
        </tr>
      </tbody>
    </table>

    <h4>500cc Runabout</h4>
    <table class="results-table">
      <tbody>
        <tr>
          <td>Driver</td>
          <td>Lake Alfred</td>
          <td>Pleasant Prairie</td>
          <td>Springfield</td>
          <td>Constantine</td>
          <td>Nationals</td>
          <td>TBD</td>
          <td>Total</td>
        </tr>
        <tr>
          <td>TIM SMALL</td>
          <td>169</td>
          <td>400</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>569</td>
        </tr>
        <tr>
          <td>KURTIS NYDAHL</td>
          <td>300</td>
          <td>169</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>469</td>
        </tr>
        <tr>
          <td>AUSTIN VANOVER</td>
          <td>400</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>400</td>
        </tr>
        <tr>
          <td>TOM KIRTS</td>
          <td>-</td>
          <td>300</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>300</td>
        </tr>
        <tr>
          <td>PETE VOSS</td>
          <td>225</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>225</td>
        </tr>
        <tr>
          <td>BRENNEN BURKLUND</td>
          <td>-</td>
          <td>225</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>225</td>
        </tr>
        <tr>
          <td>RC HAWIE</td>
          <td>127</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>127</td>
        </tr>
        <tr>
          <td>KAYL NICHOLSON</td>
          <td>-</td>
          <td>127</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>127</td>
        </tr>
        <tr>
          <td>DANIEL HOOTEN</td>
          <td>0</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0</td>
        </tr>
      </tbody>
    </table>

    <!-- <h4>700cc Hydro</h4>
    <table class="results-table">
      <tbody>
        <tr>
          <td>Driver</td>
          <td>Lake Alfred</td>
          <td>Pleasant Prairie</td>
          <td>Springfield</td>
          <td>Constantine</td>
          <td>Nationals</td>
          <td>Total</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0</td>
        </tr>
      </tbody>
    </table> -->

    <h4>700cc Runabout</h4>
    <table class="results-table">
      <tbody>
        <tr>
          <td>Driver</td>
          <td>Lake Alfred</td>
          <td>Pleasant Prairie</td>
          <td>Springfield</td>
          <td>Constantine</td>
          <td>Nationals</td>
          <td>TBD</td>
          <td>Total</td>
        </tr>
        <tr>
          <td>AUSTIN VANOVER</td>
          <td>300</td>
          <td>300</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>600</td>
        </tr>
        <tr>
          <td>KURTIS NYDAHL</td>
          <td>400</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>400</td>
        </tr>
        <tr>
          <td>ANDREW THIRLBY</td>
          <td>-</td>
          <td>400</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>400</td>
        </tr>
        <tr>
          <td>DANIEL HOOTEN</td>
          <td>225</td>
          <td>127</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>352</td>
        </tr>
        <tr>
          <td>JOE FRANCK</td>
          <td>-</td>
          <td>225</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>225</td>
        </tr>
        <tr>
          <td>RC HAWIE</td>
          <td>169</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>169</td>
        </tr>
        <tr>
          <td>BILL HEMP</td>
          <td>-</td>
          <td>169</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>169</td>
        </tr>
        <tr>
          <td>PETE VOSS</td>
          <td>127</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>127</td>
        </tr>
      </tbody>
    </table>

    <h4>1100cc Hydro</h4>
    <table class="results-table">
      <tbody>
        <tr>
          <td>Driver</td>
          <td>Lake Alfred</td>
          <td>Pleasant Prairie</td>
          <td>Springfield</td>
          <td>Constantine</td>
          <td>Nationals</td>
          <td>TBD</td>
          <td>Total</td>
        </tr>
        <tr>
          <td>AMY NYDAHL</td>
          <td>400</td>
          <td>400</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>800</td>
        </tr>
        <tr>
          <td>JAKE HOFFERT</td>
          <td>225</td>
          <td>300</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>525</td>
        </tr>
        <tr>
          <td>DAVID HOOTEN</td>
          <td>300</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>300</td>
        </tr>
        <tr>
          <td>IKE YODER</td>
          <td>-</td>
          <td>225</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>225</td>
        </tr>
        <tr>
          <td>DAVID MITCHELL</td>
          <td>169</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>169</td>
        </tr>
        <tr>
          <td>KENNETH NICHOLSON</td>
          <td>0</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0</td>
        </tr>
      </tbody>
    </table>

    <!-- <h4>1100cc Runabout</h4>
    <table class="results-table">
      <tbody>
        <tr>
          <td>Driver</td>
          <td>Lake Alfred</td>
          <td>Pleasant Prairie</td>
          <td>Springfield</td>
          <td>Constantine</td>
          <td>Nationals</td>
          <td>Total</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0</td>
        </tr>
      </tbody>
    </table> -->


    <!-- Nationals only classes

    [wc_toggle title="C Racing Hydro" padding="" border_width=""]
    <table width="622">
    <tbody>
    <tr>
    <td width="112">Driver</td>
    <td width="88">Lake Alfred</td>
    <td width="120">Pleasant Prairie</td>
    <td width="85">Springfield</td>
    <td width="93">Constantine</td>
    <td width="76">Nationals</td>
    <td width="48">Total</td>
  </tr>
  <tr>
  <td>Jay Walls, Sr.</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>600</td>
  <td>600</td>
</tr>
<tr>
<td>Jack Campbell</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>450</td>
<td>450</td>
</tr>
<tr>
<td>Kyle Deptula</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>337.5</td>
<td>337.5</td>
</tr>
<tr>
<td>Justin Gibson</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>253.5</td>
<td>253.5</td>
</tr>
<tr>
<td>Dave Everhart</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>190.5</td>
<td>190.5</td>
</tr>
</tbody>
</table>
[/wc_toggle]

[wc_toggle title="C Racing Runabout" padding="" border_width=""]
<table width="618">
<tbody>
<tr>
<td width="112">Driver</td>
<td width="88">Lake Alfred</td>
<td width="120">Pleasant Prairie</td>
<td width="85">Springfield</td>
<td width="93">Constantine</td>
<td width="76">Nationals</td>
<td width="44">Total</td>
</tr>
<tr>
<td>Jack Campbell</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>600</td>
<td>600</td>
</tr>
<tr>
<td>Jay Walls, Sr.</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>450</td>
<td>450</td>
</tr>
<tr>
<td>Duke Johnson</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>337.5</td>
<td>337.5</td>
</tr>
<tr>
<td>Justin Gibson</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>253.5</td>
<td>253.5</td>
</tr>
<tr>
<td>Dave Everhart</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>190.5</td>
<td>190.5</td>
</tr>
</tbody>
</table>
[/wc_toggle]

[wc_toggle title="C Service Hydro" padding="" border_width=""]
<table width="627">
<tbody>
<tr>
<td width="121">Driver</td>
<td width="88">Lake Alfred</td>
<td width="120">Pleasant Prairie</td>
<td width="85">Springfield</td>
<td width="93">Constantine</td>
<td width="76">Nationals</td>
<td width="44">Total</td>
</tr>
<tr>
<td>Jack Campbell</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>600</td>
<td>600</td>
</tr>
<tr>
<td>Justin Gibson</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>450</td>
<td>450</td>
</tr>
<tr>
<td>Jay Walls, Sr.</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>337.5</td>
<td>337.5</td>
</tr>
<tr>
<td>Dave Everhart</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>253.5</td>
<td>253.5</td>
</tr>
</tbody>
</table>
[/wc_toggle]

[wc_toggle title="C Service Runabout" padding="" border_width=""]
<table width="631">
<tbody>
<tr>
<td width="125">Driver</td>
<td width="88">Lake Alfred</td>
<td width="120">Pleasant Prairie</td>
<td width="85">Springfield</td>
<td width="93">Constantine</td>
<td width="76">Nationals</td>
<td width="44">Total</td>
</tr>
<tr>
<td>Duke Johnson</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>600</td>
<td>600</td>
</tr>
<tr>
<td>Jay Walls, Sr.</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>450</td>
<td>450</td>
</tr>
<tr>
<td>Justin Gibson</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>337.5</td>
<td>337.5</td>
</tr>
<tr>
<td>Dave Everhart</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>253.5</td>
<td>253.5</td>
</tr>
<tr>
<td>Jack Campbell</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>190.5</td>
<td>190.5</td>
</tr>
</tbody>
</table>
[/wc_toggle]

[wc_toggle title="OSY-400" padding="" border_width=""]
<table width="626">
<tbody>
<tr>
<td width="116">Driver</td>
<td width="88">Lake Alfred</td>
<td width="120">Pleasant Prairie</td>
<td width="85">Springfield</td>
<td width="93">Constantine</td>
<td width="76">Nationals</td>
<td width="48">Total</td>
</tr>
<tr>
<td>Rick Miller</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>600</td>
<td>600</td>
</tr>
<tr>
<td>Tara Cook</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>450</td>
<td>450</td>
</tr>
<tr>
<td>Bob Cronin</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>337.5</td>
<td>337.5</td>
</tr>
<tr>
<td>Nick Hooten</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>253.5</td>
<td>253.5</td>
</tr>
<tr>
<td>Brandon Mills</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>190.5</td>
<td>190.5</td>
</tr>
</tbody>
</table>
[/wc_toggle]

-->


  </div>

</div>
