<div class="container">
  <div class="basic-page">
    <h2>Advertising and Sponsorship</h2>

    <p class="lead-text">To sponsor a USTS race is as rewarding as it is challenging. A typical USTS race runs on municipal waterways like a lake or river, consequently, one of the first steps in the process is to select a locality that provides the waterway suitable for the race.</p>

    <p>The US Titles Series has been in operation since 1982, providing its fans with some of the most exciting Powerboat Racing available around the world. With the availability of sports content growing on the Internet, it is natural to make as much information and content available to our fans, teams, drivers, advertisers and sponsors. After all, if you love racing and love the water, Powerboat Racing is the place to be and the USTS is the most competitive pro-category.</p>

    <p>When you consider promoting your products on the Internet consider that our fan base is growing daily, US, Canada, Latin American, Australia, Japan and Europe. While the USTS zeros in on US racing, we offer general information about Powerboat Racing from around the world. We offer a number of advertising approaches at cost effective pricing. So take a look at our media kit and guide for details and contact us at your convenience.</p>

  </div>


</div>
