<%= render partial: 'admin/shared/admin_header' %>

  <h2 class="page-title">Manage Sponsors</h2>

  <%= link_to "Add new sponsor", new_admin_sponsor_path, class: 'btn btn-solid-red' %>

  <% @sponsors.each do |sponsor| %>
    <p>
      <%= link_to "Edit", edit_admin_sponsor_path(sponsor), class: "small-link" %>
      <%= sponsor.name %>
    </p>
  <% end %>
</div>
</div>
