<div class="container">
  <div class="basic-page">
    <h2 class="page-title">Thank You</h2>
    <p class="text-center lead-text">
      Thank you for your purchase. You will receive email confirmation of your payment from Paypal shortly.
    </p>
  </div>
</div>
