<div class="container">

  <h2 class="page-title">Photo Galleries</h2>

  <div class="row">
    <% @galleries.each do |gallery| %>
      <div class="col-md-4">
        <%= link_to gallery.name, gallery_path(gallery), class: 'text-center' %>
      </div>
    <% end %>
  </div>


</div>
