.footer {
  background-color: #323639;
  height: 60px;
  margin-top: 75px;
  // text-align: center;
}

a.contact-link {
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  margin-top: 20px;
  margin-left: 50px;
}

.copyright-text {
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  margin-top: 20px;
  margin-left: 50px;
}
