.recent-news-band {
  background-color: #F2F6F9;
  border: 1px solid #D4E2ED;

}

.news-tile-home {
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid #D4E2ED;
  box-shadow: 0px 2px 4px #D4E2ED;
  max-width: 300px;
  min-height: 175px;
  margin-top: 10px;
  margin-bottom: 40px;
}
