h1 {

}

h2 {

}

h3 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 20px;
color: #323639;
}

h4 {

}

h5 {

}

h6 {

}

p {
 font-family: 'Open Sans', sans-serif;
 font-size: 14px;
 color: #323639;
}

a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: #CF0909;
}

.small-link {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #CF0909;
}

.page-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  color: #323639;
  padding-bottom: 40px;
}

// label.required:after {
//   content:" *";
// }

// label:required:after{content:"*"}
