.race-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  color: #CF0909;
}

.race-location {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #CF0909;
}

.race-dates {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #18639B;
}

.race-address {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #323639;
}
