<div class="footer">
  <div class="row">
    <div class="col-md-4">
        <%= link_to "Contact Us", root_path, class: "contact-link" %>
    </div>
    <div class="col-md-4">
        <p class="copyright-text"> <%= Date.current.year %> US Title Series. All Rights Reserved.</p>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
